.containerBox {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    border: lightgrey solid 1px;
    border-radius: 4px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.display {
    padding: 10px;
    width: 33%;
}

td {
    max-width: 50px;
    min-width: 50px;
}

.date {
    color: #1f9cd6;
    font-weight: bold;
}

.icon {
    height: 48px;;
}

.icon img {
    width: 30px;
    position: initial;
    padding: initial;
    margin: 0 0 0 5px;
    vertical-align: bottom;
}

.icon td.text {
    vertical-align: bottom;
    padding: 10px 0 0 0;
    font-size: 12px;
    display: block;
    width: 60px;
    color: #222222;
}

.temp {
    font-size: 12px;
}

.temp td.smallText {
    margin-left: 18px;
}

.wind {
    font-size: 12px;
    height: 30px;
}

.wind td {
    padding-top: 10px;
}

.wind td img {
    position: initial;
    margin: -15px 0 0 -5px;
}

.wind td.smallText {
    display: block;
    color: #222222;
    height: initial;
    position: initial;
    width: initial;
}

.N {transform: rotate(180deg);}

.NNE {transform: rotate(202.5deg);}

.NE {transform: rotate(225deg);}

.ENE {transform: rotate(247.5deg);}

.E {transform: rotate(270deg);}

.ESE {transform: rotate(292.5deg);}

.SE {transform: rotate(315deg);}

.SSE {transform: rotate(337.5deg);}

.SSW {transform: rotate(22.5deg);}

.SW {transform: rotate(45deg);}

.WSW {transform: rotate(67.5deg);}

.W {transform: rotate(90deg);}

.WNW {transform: rotate(112.5deg);}

.NW {transform: rotate(135deg);}

.NNW {transform: rotate(157.5deg);}
