.containerBox {
    display: flex;
    justify-content: space-between;
    background-color: #F6F5F1;
    border-radius: 4px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.display {
    padding: 20px;
}

.icon {
    width: 60px;
    height: 60px;
}

.date {
    color: #4E8BA7;
    font-weight: bold;
}

.temp {
    font-size: 10px;
}

.wind {
    font-size: 12px;
}